body {
  font-family: "Playfair Display", serif;
  font-family: "Public Sans", sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fffafa;

  width: 80%;
  border-radius: 10px;
  max-width: 480px;
  padding: 1rem;
}

.title {
  font-size: 2rem;
  color: black;
  margin: 20px 0px;
}
#myForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;

  gap: 1rem;
  box-sizing: border-box;
  padding: 1rem 0rem;
}
input {
  border-radius: 10px;
  height: 1.5rem;
  padding: 0.4rem;
  border: 1px solid gray;
}
.name-input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
#firstName {
  width: 100%;
}
#lastName {
  width: 100%;
}
#email {
  width: 100%;
}
#password {
  width: 90%;
  border-style: none;
}
#confirmPassword {
  width: 100%;
}
.checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
}
.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.email-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.error-msg {
  color: red;
  font-size: 0.8rem;
  font-weight: 300;
  margin: 10px 2px;
  line-height: 1.5;
}

.submit-btn {
  height: 40px;
  width: 180px;
  padding: 10px;
  border-style: none;
  background-color: skyblue;
  margin-right: 20px;
  border-radius: 10px;
}

.password-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.left-margin {
  margin-left: 0px;
}

.logo {
  height: 80px;
  width: 80px;
}

#message {
  font-weight: 300;
  margin: 20px 2px;
}

.success {
  color: green;
  font-size: 1.2rem;
}
.test {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid gray;
  border-radius: 10px;
  padding-right: 0rem;
  width: 100%;
  height: 1.5rem;
  padding: 0.4rem;
  padding-left: 0rem;
}

.hide {
  display: none;
}

.eyeicon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: 10%;
}

input:focus {
  outline: none;
}

@media screen and (min-width: 576px) {
  .main-container {
    height: 100vh;
  }
  .form-container {
    height: 80%;
    max-width: 1050px;
    padding: 1rem;
  }

  #myForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 80%;
    gap: 1rem;
    box-sizing: border-box;
    padding: 2rem 0rem;
  }

  .name-input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 46%;
  }
  #firstName {
    width: 100%;
  }
  #lastName {
    width: 100%;
  }
  #email {
    width: 100%;
  }
  #password {
    width: 80%;
    border-style: none;
  }
  #confirmPassword {
    width: 100%;
  }
  .checkbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-right: 60%;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .email-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 97%;
  }

  .error-msg {
    color: red;
    font-size: 0.8rem;
    font-weight: 300;
    margin: 10px 2px;
    line-height: 1.5;
  }

  .submit-btn {
    height: 40px;
    width: 180px;
    padding: 10px;
    border-style: none;
    background-color: skyblue;
    margin-right: 20px;
    border-radius: 10px;
  }

  .password-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 46%;
  }

  .left-margin {
    margin-left: 20px;
  }

  .logo {
    height: 80px;
    width: 80px;
  }

  #message {
    font-weight: 300;
    margin: 10px 2px;
  }

  .success {
    color: green;
    font-size: 2rem;
  }
  .test {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    padding-right: 0rem;
  }

  .hide {
    display: none;
  }

  .eyeicon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    width: 10%;
  }

  input:focus {
    outline: none;
  }
}
